@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-secondary: #adb1b5;
  --color-superSilver: #f0f0f0;
  --color-wallStreet: #656c73;
  --color-winterWay: #3f464b;
  --color-ruinedSmores: #111216;
  --color-kuroiBlack: #0c0d11;
  --color-romanRed: #f21314;
  --color-decemberSky: #d2d4d6;
  --color-lightBlack: #1c2731;
  --background-image-red-linear: linear-gradient(
    262deg,
    #dc1112 -10.83%,
    #76090a 83.23%
  );
  --background-image-black-linear: linear-gradient(
    180deg,
    rgba(12, 13, 17, 0) 18.46%,
    #0c0d11 69.34%
  );

  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-myriad: "Myriad Pro", sans-serif;
  --font-inter: "inter", sans-serif;
}

@font-face {
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/MYRIADPRO-BOLD.OTF") format("opentype"),
    url("/fonts/MYRIADPRO-REGULAR.OTF") format("opentype"),
    url("/fonts/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
}

.main-container {
  @apply max-w-[1308px] w-full mx-auto px-4;
}
.main-heading {
  @apply text-[26px] sm:text-4xl lg:text-5xl xl:text-[52px] capitalize font-[800] font-jakarta leading-[130%];
}
.section-heading {
  @apply text-[42px] font-semibold tracking-[-0.84px];
}
.primary-btn {
  @apply py-2.5 px-6 tracking-[0.1px] rounded-lg text-white font-montserrat font-black italic flex justify-center items-center cursor-pointer w-full sm:w-fit;
}
.header-li {
  @apply text-base font-montserrat font-semibold text-superSilver;
}
.header-li-dropdown {
  @apply text-base font-extrabold font-inter text-lightBlack p-1 duration-300 ease-linear;
}
