@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-secondary: #adb1b5;
  --color-superSilver: #f0f0f0;
  --color-wallStreet: #656c73;
  --color-winterWay: #3f464b;
  --color-kuroiBlack: #0c0d11;
  --color-decemberSky: #d2d4d6;

  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-jakarta: "Montserrat", sans-serif;
}

.main-container {
  @apply max-w-[1308px] w-full mx-auto px-4;
}

.main-heading {
  @apply text-[26px] xl:text-[52px] capitalize font-black font-jakarta;
}

.section-heading {
  @apply text-[42px] font-semibold tracking-[-0.84px];
}
