.bg-gradient-initial {
  background: linear-gradient(253deg, #ffd9ae 9.71%, #fff 74.11%);
}
.bg-gradient-step-1 {
  background: linear-gradient(243deg, #ffd9ae 26.3%, #fff 78.62%);
}
.bg-gradient-step-2 {
  background: linear-gradient(
    250deg,
    #e4f4ff 18.02%,
    #ffd9ae 46.29%,
    #fff 88.04%
  );
}
.bg-gradient-step-3 {
  background: linear-gradient(
    236deg,
    #e4f4ff 21.82%,
    #ffd9ae 92.13%,
    #fff 134.74%
  );
}
.bg-gradient-step-4 {
  background: linear-gradient(
    180deg,
    #e4f4ff -28.9%,
    #ffe7a4 15.52%,
    #fff 119.16%
  );
}
.bg-gradient-step-5 {
  background: linear-gradient(
    160deg,
    #e4f4ff -6.75%,
    #ffe7a4 30.11%,
    #fff 116.12%
  );
}

.bg-gradient-step-6 {
  background: linear-gradient(
    115deg,
    #ffe7a4 5.44%,
    #f6c335 31.78%,
    #fff 93.25%
  );
}
.bg-gradient-step-7 {
  background: linear-gradient(
    109deg,
    #ffe7a4 4.8%,
    #efba27 39.08%,
    #fff 119.04%
  );
}
